# Database
MYSQL_ROOT_PASSWORD=root_password_ici
MYSQL_DATABASE=twitch_clone
MYSQL_USER=twitch_user
MYSQL_PASSWORD=jesuisfort

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_key_here
CLERK_SECRET_KEY=your_key_here

# LiveKit removed

# UploadThing removed

# Svix
SVIX_WEBHOOK_SECRET=your_secret_here

# Redis
REDIS_URL=redis://redis:6379

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://localhost:9000
MINIO_CONSOLE_URL=http://localhost:9001

# SRS
SRS_RTMP_URL=rtmp://localhost/live
SRS_HLS_URL=http://localhost:8080/live

# SRS feature flag
NEXT_PUBLIC_USE_SRS=true
NEXT_PUBLIC_SRS_HLS_URL=http://localhost:8080/live

# MinIO bucket
MINIO_BUCKET=twitch-clone
MINIO_REGION=us-east-1
