# Database
MYSQL_ROOT_PASSWORD=root_password_ici
MYSQL_DATABASE=twitch_clone
MYSQL_USER=twitch_user
MYSQL_PASSWORD=jesuisfort

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_key_here
CLERK_SECRET_KEY=your_key_here

# LiveKit
LIVEKIT_API_KEY=your_key_here
LIVEKIT_API_SECRET=your_secret_here
LIVEKIT_URL=your_url_here

# UploadThing
UPLOADTHING_SECRET=your_secret_here
UPLOADTHING_APP_ID=your_app_id_here

# Svix
SVIX_WEBHOOK_SECRET=your_secret_here
